In [7]:
from datetime import datetime

In [22]:
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca.data.timeframe import TimeFrame, TimeFrameUnit

# No keys required for crypto data
client = CryptoHistoricalDataClient()

In [10]:
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame

# Creating request object
request_params = CryptoBarsRequest(
  symbol_or_symbols=["BTC/USD"],
  timeframe=TimeFrame.Day,
  start=datetime(2022, 9, 1),
  end=datetime(2022, 9, 7)
)

In [32]:
print("{f}{g}".format(f="gggggggf", g="ggg", l="000"))

gggggggfggg

In [11]:
# Retrieve daily bars for Bitcoin in a DataFrame and printing it
btc_bars = client.get_crypto_bars(request_params)

# Convert to dataframe
btc_bars.df

                                       open      high       low     close  \
symbol  timestamp
BTC/USD 2022-09-01 05:00:00+00:00  20055.79  20292.00  19564.86  20156.76
        2022-09-02 05:00:00+00:00  20156.76  20444.00  19757.72  19919.47
        2022-09-03 05:00:00+00:00  19924.83  19968.20  19658.04  19806.11
        2022-09-04 05:00:00+00:00  19805.39  20058.00  19587.86  19888.67
        2022-09-05 05:00:00+00:00  19888.67  20180.50  19635.96  19760.56
        2022-09-06 05:00:00+00:00  19761.39  20026.91  18534.06  18724.59

                                         volume  trade_count          vwap
symbol  timestamp
BTC/USD 2022-09-01 05:00:00+00:00   7141.975485     110122.0  19934.167845
        2022-09-02 05:00:00+00:00   7165.911879      96231.0  20075.200868
        2022-09-03 05:00:00+00:00   2677.652012      51551.0  19800.185480
        2022-09-04 05:00:00+00:00   4325.678790      62082.0  19834.451414
        2022-09-05 05:00:00+00:00   6274.552824      84784.0  19812.095982
        2022-09-06 05:00:00+00:00  11217.789784     128106.0  19266.835520